@use "../../style/mixins";

:host {
	display: flex;
	flex-direction: column;
	color: var(--main-content-text-color);

	h1 {
		text-align: center;
		color: var(--dialog-headline-color);
		margin-top: -8px;
		margin-bottom: 10px;
		line-height: 1.3em;

		.logo-image-small {
			height: 36px;
			width: auto;
			vertical-align: middle;
			margin-right: 8px;
			background: transparent;
			border-radius: 0;
		}

		@include mixins.respond-to(medium-down) {
			font-size: 1.2em;

			.logo-image-small {
				height: 30px;
			}
		}

		@include mixins.respond-to(tiny-down) {
			font-size: 1.1em;

			.logo-image-small {
				height: 26px;
			}
		}
	}
}
